@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html {
    scroll-behavior: smooth; /* Active le défilement fluide */
}
body{
    font-family:"DM Sans",sans-serif;
   
    color: #343D48;
    font-family: "DM Sans";
    line-height: 30px;
    font-weight: normal;  
    
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
 
    background-color: #F6F8FB;
    transition: 500ms;

}

.navbar.sticky{
    background-color: #FFFFFF; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
.menu-humburger{
    display: none;
}
.icon{
    
    
    display: none;
  }

   .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }


.logo a {
    padding-right: 30px;
    margin-bottom: 5px;
}
.logo img {
    width: 146px;   
}
.navsection{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}
.linksection {
    font-size: 16px;
    color: #02073E;
    font-weight: 400;
    cursor: pointer;
    line-height: 1.2;
    margin-right: 48px;
    /* transition: 500ms; */
    text-decoration: none;
    
   
}
.navsection  .active {
    
    color: #8D448B;
   
   
}
.buttonRegister{
    
    margin: 0;
    min-width: 0;
    cursor: pointer;  
    transition: 500ms;
    font-size: 16px;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 2px solid;
    border-color:  #8D448B;
    color:  #8D448B;
    padding: 8px 24px;   
    font-weight: 700;
}
.buttonRegister:hover{
    color: #FFFFFF;
    background-color: #8D448B;

}
.section1 {
    display: flex;
    flex-wrap: wrap; 
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    min-width: 0;
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #F6F8FB;
    overflow: hidden;
}

.section1 > div {
    flex: 1;
    padding: 30px;
}

.imgsection1 {
    width: 100%; 
    max-width: 480px; 
    aspect-ratio: auto 958 / 765;
}

.titleSection1 {
    color: #0F2137;
    font-weight: 700;
    line-height: 1.39;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    font-size: 45px;
}

.pSection1 {
    margin-bottom: 20px;
}

.sponsoreSec {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.subscribeInput {
    margin: 0;
    min-width: 0;
    border: 0;
    padding: 10px;
}

.formulaire input {

    border-radius: 4px;
    background-color: #fff;
    width: 240px;
    height: 45px;
    padding: 0 15px;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);

}

.formulaire button {
    font-size: 15px;
    border-radius: 4px;
    padding: 0 15px;
    margin-left: 10px;
    width: auto;
    height: 45px;
}

.formulaire {
    margin-bottom: 20px;
}

.send {
    margin: 0;
    min-width: 0;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    font-size: inherit;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: var(--theme-ui-colors-primary, #8D448B);
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: 500ms;
    font-size: 16px;
    border-radius: 4px;
    padding: 0 15px;
    margin-left: 10px;
    width: auto;
}

.send:hover {
    color: white;
    background-color: var(--theme-ui-colors-primary, #7a3c78);
}

.sponsItem img {
    width: 85px;
    aspect-ratio: auto 85 / 28;
    height: 28px;
}

.sponsoreSec span {
    font-size: 15px;
    color: #566272;
    opacity: 0.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .section1 {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 150px;
        padding-bottom: 60px;
    }

    .titleSection1 {
        font-size: 20px;
        
    }
   p .pSection1{
        font-size: 15px;
    line-height: 26px;
    color: var(--theme-ui-colors-text_secondary, #02073E);
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    }

    .imgsection1 {
        width: 80%; 
        margin: 0 auto; 
    }
    .formulaire{

        display: flex;
        align-items: center;


    }

    .formulaire input {
        width:  50%; 
    }

    .formulaire button {
        width: 30%; 
    }
}

.section2{
    padding-top: 80px;
    margin: 0;
   
    width: 100%;
    
    
    padding-left: 15px;
    padding-right: 15px;
}

.titleSection2{
    
    margin: 0;
    min-width: 0;
    margin-bottom: 45px;
    text-align: center;
}
.titleSection2 p {
    color: #8D448B;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
}
.cardlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
    padding: 16px;
    justify-content: center;
    margin: 0 auto;
}


@media (max-width: 1200px) {
    .cardlist {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .cardlist {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .cardlist {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}


.service-card {
    background-color: #fff; 
    border-radius: 8px; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    padding: 16px; 
    text-align: center;
}

.service-icon {
    margin-bottom: 12px; 
}

.cardItem{
    margin: 0;
    min-width: 0;
    text-align: center;
}
.cardicon{
    
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(323.91deg, #FFCC40 7.09%, rgba(255, 204, 64, 0.5) 88.82%);
}
.service-card:nth-of-type(2) .service-icon {
    background-image: linear-gradient(320.89deg, #25D9D9 10.83%, rgba(37, 217, 217, 0.5) 88.7%);
}
.service-card:nth-of-type(3) .service-icon {
    background-image: linear-gradient(319.4deg, #0898E7 5.17%, rgba(8, 152, 231, 0.5) 94.34%);

}
.service-card:nth-of-type(4) .service-icon {
    background-image: linear-gradient(322.63deg, #FF9066 9.94%, rgba(255, 144, 102, 0.5) 91.14%);
}

.cardItem h3 {
        margin: 0;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        color: #0F2137;
        margin-top: 30px;
        margin-bottom: 20px;
    
}
.cardItem  p {
    margin: 0;
    font-size: 13px;
    color:  #343D48;
    width: 100%;
}
.section3 {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    min-width: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
    align-items: center;
}

.section3 > div {
    flex: 1;
}

.section3 .s32 {
    padding-top: 100px;
    padding-left: 60px;
}

.s31 img {
    width: 100%;
    max-width: 433px; 
    aspect-ratio: auto 958 / 765;
    margin-left: 10%;
}

.s323 h3 {
    font-size: 32px;
}

.s323 p {
    font-size: 15px;
    color: var(--theme-ui-colors-text_secondary, #02073E);
    opacity: .6;
    margin-top: 15px;
}

.listeS3 {
    list-style: none;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.listeS3 li svg {
    width: 17px;
    height: 17px;
    color: #DADADA;
    border-radius: 50%;
    margin-right: 10px;
}

.listeS3 li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #02073E;
    line-height: 2.56;
}

/* Responsive design */
@media (max-width: 768px) {
    .section3 {
        flex-direction: column; /* Stacks the items on smaller screens */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section3 .s32 {
        padding-top: 50px;
        padding-left: 30px;
    }

    .s31 img {
        width: 100%; /* Ensures the image scales down */
        margin-left: 0;
    }

    .s323 h3 {
        font-size: 28px;
    }

    .s323 p {
        font-size: 14px;
    }

    .listeS3 {
        margin-left: 15px;
    }

    .listeS3 li {
        font-size: 14px;
    }
}

.learn{
 
    cursor: pointer;
    text-decoration: none;
    color:  #8D448B;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 5px;

}
.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0;
    min-width: 0;
}

.section4 h3 {
    color: #0F2137;
    font-size: 32px;
    letter-spacing: -0.5px;
    font-weight: 700;
    line-height: 1.6;
}

.section4 p {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #566272;
    max-width: 600px; 
}

.explore {
    cursor: pointer;
    text-decoration: none;
    color: #8D448B;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.css-1fjoj8g > img {
    border-radius: 10px;
    display: flex;
    width:100%;
    max-width: 70%; 
    height: 400px;
}

.css-1fjoj8g {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.css-npmkq8 {
    cursor: pointer;
    text-decoration: none;
    width: 120px;
    height: 120px;
    
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms ease;
}

.css-npmkq8 svg {
    margin: 20px;

    font-size: 30px;
    color: var(--theme-ui-colors-primary, #8D448B);
}

#youtube-video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Pour que la vidéo soit au-dessus de tout */
    width: 950px; /* La même taille que l'image */
    height: 436px; /* La même taille que l'image */
    background-color: black;
}

#youtube-video iframe {
    width: 100%;
    height: 100%;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; /* Assurez-vous que le bouton de fermeture est au-dessus de la vidéo */
}



/* Responsive Design */
@media (max-width: 768px) {
    .section4 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section4 h3 {
        font-size: 28px; 
    }

    .section4 p {
        font-size: 14px; 
        max-width: 100%; 
    }

    .explore {
        padding-left: 15px;
        margin-top: 10px;
    }

    .css-1fjoj8g > img {
        width: 80%;
        max-width: 100%; 
        height: 200px;
    }

    .css-npmkq8 {
        width: 80px;
        height: 80px; 
    }

    .css-npmkq8 svg {
        font-size: 24px; 
    }
}

@media screen and (max-width: 940px) {
    .buttonRegister {
        display: none;
    }
    .navsection {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
         height: 100vh;
        width: 100%;
        max-width: 400px;
        padding: 30px 30px 40px;
        text-align: left;
        background: #ffffff;
        transition: all 0.3s ease;
    }
    .navbar.show  .navsection {
        left: 0%;
    }
    
    .navbar .navsection li{
        margin-top: 45px;
      }
    .icon{
        display: block;
    }
    h3 .titleSection1 {
        font-size: 15px;
    }
}
